body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #052355;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #000F22;
    transition: right 0.3s ease;
    z-index: 2;
}

    .menu p {
        color: #ffffff;
    }

.admin {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

    .admin img {
        max-width: 8.5vw;
        max-height:  8.5vw;
    }

    .admin h1 {
        color: #C2E8FF;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 29%;
        font-size: 1.7vw;
    }

    .admin p {
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('bg-img/Rectangle-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9.5vw;
        text-align: center;
        font-size: 1.6vw;
        padding: 3vw;
        color: #000F22;
    }

.buttons, .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .buttons input {
        text-align: left;
        padding: 0.3vw;
        width: 15vw;
        background-color: #000F22;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #35659f;
        border-width: 3px;
        color: #ffffff;
        font-size: 1.3vw;
    }

        .buttons input:hover {
            background-color: #f79256;
            color: #000F22;
        }

    .logout input {
        margin-top: 8vw;
        text-align: center;
        padding: 0.5vw;
        width: 15vw;
        background-color: #C2E8FF;
        color: #000F22;
        font-size: 1vw;
        font-weight: bold;
    }

        .logout input:hover {
            background-color: #f79256;
            color: #000F22;
        }

.rightSide h1 {
    text-align: right;
    margin-bottom: 0;
    padding-top: 1.3vw;
    color: #C2E8FF;
    font-weight: 680;
    font-size: 1.7vw;
}

    .rightSide p {
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        color: #C2E8FF;
        font-weight: 680;
        font-size: 1.6vw;
    }

    .icon-white {
        color: white;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-bottom: 0;
    }
    
    .close-button {
        margin-left: 16.9vw;
        margin-bottom: 0;
    }

    .rightSide #menuIcon {
        margin-top: 1vw;
        margin-bottom: 0;
        margin-left: 2vw;
    }

        .rightSide h1 {
            margin: 0;
        }

    
/*inner*/

.content {
    padding-bottom: 1vw;

}

.UpcomingAppointments, .UpcomingReservations, .InventoryStock {
    margin: auto;
    margin-bottom: 1vw;
    background-color: rgba(255, 255, 255, 0.837);
    width: 30vw;
    height: 12vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #content-title {
        font-size: 1.8vw;
        font-weight: 600;
        color: #052355;
        margin: 0;
        padding-top: 2vw;
    }

    #content-count {
        font-size: 1.8vw;
        font-weight: 700;
        color: #052355;
        margin: 0;
    }

    .content input {
        margin-top: 1vw;
        text-align: center;
        padding: 0.5vw;
        width: 15vw;
        background-color: #000F22;
        color: #fff;
        font-size: 1.3vw;
        font-weight: bold;
        border: none;
        margin-bottom: 2vw;
    }




        .content input:hover {
            background-color: #f79256;
            color: #000F22;
        }
		.rightSide {
		display: inline-block;
		vertical-align: top; 
		width: calc(100% - 5.3vw); 
		}


.billing1{ 
	margin: auto;
    margin-bottom: 1vw;
    background-color: rgba(255, 255, 255, 0.837);
    width: 90%;
    height: 76%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-end;
    position: absolute;
    top: 58%;
    left: 5%;
    transform: translateY(-50%);
}
.billing2{ 
	margin: auto;
    margin-bottom: 1vw;
    background-color: #C2E8FF;
    width: 76%;
    height: 76%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-end;
    position: absolute;
    top: 58%;
    right: 2%;
    transform: translateY(-50%);
}

 #billing-title {
        font-size: 30px;
        font-weight: 600;
        color: black;
        margin: 0;
        padding-top: 1vw;
		padding-left: 1vw;
		display: inline-block;
    }
	
	 #billing-details {
        font-size: 25px;
        font-weight: 500;
        color: #052355;
        margin: 0;
        padding-top: .5vw;
		padding-left: 1vw;
		display: inline-block;
    }
.billing-choices{
	text-align: center;
}
.billing-choices input {
        margin-top: 2vw;
        text-align: center;
		align-items: center;
        width: 410px;
		height: 195px;
        background-color: #052355;
        color: #C2E8FF;
        font-size: 32px;
        font-weight: bold;
        border: none;
		border-radius: 20px;
        margin-bottom: 2vw;
        flex-wrap: wrap;
    }
        .billing-choices input:hover {
            background-color: #f79256;
            color: #052355;
        }

		.formContainer {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
		margin-left: 22vw;
		margin-top: -4vw; 
		}
			
.formContainer input {
        margin-top: 1vw;
        text-align: left;
        padding: 0.5vw;
        width: 99px;
		height: 45px;
        background-color: #8B0000;
        color: #C2E8FF;
        font-size: 26px;
        font-weight: 600;
        border: none;
        margin-bottom: 2vw;
}
.formContainer input:hover {
        background-color: #EF0107;
        color: #052355; 
		cursor: pointer;
}

.billing-input-container {
    display: flex;
    flex-direction: column;
}

.billing-input-item {
	padding-left: 1vw;
    display: flex;
    align-items: center;
    margin-bottom: .3vw; 
}

.billing-input-label1 {
    margin: 0;
    margin-right: 10px;
	padding-right: 50px;
	width: 250px;
	font-size: 20px;
    font-weight: 500;
    color: #052355;
}

.billing-input-value1 input{
	text-align: left;
    margin: 0;
	width: 420px;
	height: 13px;
	background-color: white;
	color: black;
	border: none;
	font-size: 12px;
    font-weight: 500;
	padding-right: 60px;
}
.billing-input-value2 input{
	text-align: center;
    margin: 0;
	width: 120px;
	height: 26px;
	background-color: #5381B2;
	color: #FFFFFF;
	border-radius: 10px;
	border: none;
	font-size: 14px;
    font-weight: 500;
	margin-left: 60px;
}
.billing-input-label2 {
    margin: 0;
    margin-right: 10px;
	padding-right: 50px;
	width: 250px;
	font-size: 20px;
    font-weight: 500;
    color: #052355;
}
.billing-input-value2 input:hover {
	background-color: #000F22;
	color: #C2E8FF;
}
.billing-input-value3 input{
    text-align: left;
    margin: 0;
	width: 654px;
	height: 13px;
	background-color: white;
	color: black;
	border: none;
	font-size: 12px;
    font-weight: 500;
}
.billing-input-value4 input{
    text-align: left;
    margin: 0;
	width: 654px;
	height: 13px;
	background-color: white;
	color: black;
	border: none;
	font-size: 12px;
    font-weight: 500;
}
.btn {
	align-items: center;
	position: absolute;
    top: 5.5%;
    right: .5vw; 
    transform: translateY(-50%);
    margin: 10px;
    width: 116.64px;
    height: 31px;
	text-align: center;
    text-decoration: none; 
    border: none; 
    border-radius: 50px;
	font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-save{
	position: absolute;
    top:92%;
    right: 2.5vw; 
    transform: translateY(-50%);
    margin: 10px;
    width: 116.64px;
    height: 31px;
	text-align: center;
    text-decoration: none; 
    border: none; 
    border-radius: 50px;
	font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
	background-color:  #000F22;
	color: #C2E8FF;
}
.btn-save:hover {
	background-color: #f79256;
    color: #000F22;
}
.preview-container {
    display: flex;
    flex-direction: column;
}

.preview-item {
	padding-left: 1vw;
    display: flex;
    align-items: center;
    margin-bottom: .5vw; 
}
.preview-label {
    margin: 0;
    margin-right: 10px;
	padding-right: 200px;
	width: 250px;
	font-size: 18px;
    font-weight: 500;
    color: #052355;
}

.preview-value {
    margin: 0;
	font-size: 18px;
    font-weight: 500;
    color: #052355;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

#save-btn {
    background-color: #000F22;
	color: #C2E8FF;
}

#save-btn:hover {
	background-color: #f79256;
	color: #000F22;
}

#print-btn {
    background-color: #000F22;
	color: #C2E8FF;
}

#print-btn:hover {
	background-color: #f79256;
	color: #000F22;
}

#cancel-btn {
    background-color: #8B0000;
	color: #C2E8FF;
}

#cancel-btn:hover {
	background-color: #EF0107;
	color: #C2E8FF;
}

.button-container button {
    align-items: center;
	width: 116.64px;
    height: 31px;
	text-align: center;
    text-decoration: none; 
    border: none; 
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
	margin-right: 30px;
}
.button-container1 {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.button-container1 button {
    align-items: center;
	width: 116.64px;
    height: 31px;
	text-align: center;
    text-decoration: none; 
    border: none; 
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
	margin-right: 30px;
}

@media screen and (max-width: 1280px) {
    #search-btn {
        margin-left: 30px;
    }
    .billing-input-label1 {
        margin-right: 60px;
    }
}

@media screen and (max-width: 1120px) {
    .billing-choices input {
        width: 310px;
    }
}

@media screen and (max-width: 880px) {
    .billing-choices {
        display: flex;
        flex-direction: column;
    }
    .billing-choices input {
        height: 25vh;
    }
    .billing1 {
        height: 80vh;
        margin-top: 0%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        width: 40%;
    }

    .admin h1,
    .admin p,
    .buttons input,
    .logout input,
    .rightSide h1,
    .rightSide p {
        font-size: 2.2vw;
    }

    .buttons input, .logout input {
        width: 30vw;
        padding: 0.7vw;
    }

    .admin p {
        background-size: 13vw;
    }

    .logout input {
        margin-top: 17vw;
    }

    .admin {
        margin-bottom: 7vw;
    }

    .admin img {
        max-width: 14vw;
        max-height: 14vw;
    }

    .close-button {
        margin-left: 35vw;
        margin-top: 1vw;
        font-size: 2.5vw;
    }

    .rightSide #menuIcon {
        margin-left: 1.8vw;
        margin-top: 1.8vw;
        font-size: 2.5vw;
    }

    .rightSide h1 {
        font-size: 3vw;
    }
    
        .rightSide p {
            font-size: 3.1vw;
        }
}

@media screen and (max-width: 576px) {
    .menu {
        width: 45%;
    }

    .admin h1,
    .admin p,
    .buttons input,
    .logout input,
    .rightSide h1,
    .rightSide p {
        font-size: 2.8vw;
    }

    .buttons input, .logout input {
        width: 30vw;
        padding: 1vw;
    }

    .admin p {
        background-size: 15vw;
    }

    .logout input {
        margin-top: 18vw;
    }

    .admin {
        margin-bottom: 9vw;
    }

    .admin img {
        max-width: 20vw;
        max-height: 20vw;
    }
    
    .close-button {
        margin-left: 39vw;
        margin-top: 1vw;
        font-size: 3.5vw;
    }

    .rightSide #menuIcon {
        margin-left: 1.8vw;
        margin-top: 1.8vw;
        font-size: 3.5vw;
    }

    .rightSide h1 {
        font-size: 3.5vw;
    }
    
        .rightSide p {
            font-size: 3.6vw;
        }
}



@media screen and (max-width: 480px) {
    .menu {
        width: 55%;
    }

    .admin h1,
    .admin p,
    .buttons input,
    .logout input,
    .rightSide h1,
    .rightSide p {
        font-size: 4.5vw;
    }

    .buttons input, .logout input {
        width: 40vw;
        padding: 1vw;
    }

    .admin p {
        background-size: 20vw;
    }

    .logout input {
        margin-top: 18vw;
    }

    .admin {
        margin-bottom: 17vw;
    }

    .admin img {
        max-width: 20vw;
        max-height: 20vw;
    }
    
    .close-button {
        margin-left: 48vw;
        margin-top: 1vw;
        font-size: 4.5vw;
    }

    .rightSide #menuIcon {
        margin-left: 1.8vw;
        margin-top: 1.8vw;
        font-size: 4.5vw;
    }

    .rightSide h1 {
        font-size: 4vw;
    }
    
        .rightSide p {
            font-size: 4.1vw;
        }
}
