body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #052355, #2A5181, #7096BB, #C2E8FF);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.theWhole {
    display: flex;
    height: 100%;
    position: relative;
}

    .theWhole img {
        position: absolute;
        height: 7vw;
        width: 7vw;
        margin-top: 2%;
        margin-left: 2%;
    }

    .titleSide {
        width: 50%;
        height: 100%;
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
            background-image: url('bg-img/Ellipse-2.png'), url('bg-img/Ellipse-4.png'), url('bg-img/Ellipse-3.png');
            background-position: top left, right, bottom left;
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 22vw, 15vw, 25vw;
    }
        

        .titleSide h1 {
            margin: 0;
            text-align: center;
            font-family:'Montserrat', sans-serif;
            font-size: 6vw;
        }

        .titleSide p {
            margin: 0;
            padding: 12px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 4.7vw;
            color: #ffffff;
            background-image: url('bg-img/Rectangle-1.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24vw;
        }
        
    .loginForm {
        background-color: rgba(194, 229, 251, 0.2   );
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .theForm {
            background-color: #7DA0CA;
            width: 30vw;
            height: 20vw;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .theForm input[type="text"], .theForm input[type="password"] {
                margin-bottom: 1vw;
                width: 22vw;
                height: 3vw;
                background-color: #C2E8FF;
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5vw;
            }

            .theForm input[type="button"] {
                margin-top: 3vw;
                width: 22vw;
                height: 3.3vw;
                background-color: #000F22;
                border: none;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5vw;
            }

                .theForm input[type="button"]:hover {
                    background-color: #f79256;
                    color: #000F22;
                }


                @media screen and (max-width: 768px) {
                    .theForm {
                        width: 35vw;
                        height: 22vw;
                    }

                    .theForm input[type="text"], .theForm input[type="password"] {
                        width: 25vw;
                        height: 3.6vw;
                        font-size: 2vw;
                    }
        
                    .theForm input[type="button"] {
                        width: 25vw;
                        height: 3.6vw;
                        font-size: 2vw;
                    }
                    .titleSide {
                        line-height: 0.8;
                        background-size: 27vw, 20vw, 30vw;
                    }
                    
                        .titleSide h1 {
                            font-size: 6.5vw;
                        }
                
                        .titleSide p {
                            padding: 14px;
                            font-size: 4.9vw;
                            background-size: 26vw;
                        }
                }
                
                @media screen and (max-width: 576px) {
                    .theForm {
                        width: 39vw;
                        height: 26vw;
                    }

                    .theForm input[type="text"], .theForm input[type="password"] {
                        width: 27vw;
                        height: 3.9vw;
                        font-size: 2.7vw;
                    }
        
                    .theForm input[type="button"] {
                        width: 27vw;
                        height: 3.9vw;
                        font-size: 2.7vw;
                    }
                    .titleSide {
                        line-height: 0.6;
                        background-size: 29vw, 23vw, 33vw;
                    }
                    
                        .titleSide h1 {
                            font-size: 7vw;
                        }
                
                        .titleSide p {
                            padding: 16px;
                            font-size: 5vw;
                            background-size: 28vw;
                        }
                }
                
                @media screen and (max-width: 480px) {
                    .theWhole {
                        flex-direction: column;
                    }

                    .theForm {
                        width: 50vw;
                        height: 37vw;
                    }

                    .theForm input[type="text"], .theForm input[type="password"] {
                        width: 40vw;
                        height: 5.2vw;
                        font-size: 3.6vw;
                    }
        
                    .theForm input[type="button"] {
                        width: 40vw;
                        height: 5.5vw;
                        font-size: 3.6vw;
                    }
                    .titleSide {
                        order: 1;
                        width: 100%;
                        height: 50%;
                        line-height: 0.5;
                        background-size: 32vw, 27vw, 37vw;
                    }
                    
                        .titleSide h1 {
                            font-size: 10vw;
                        }
                
                        .titleSide p {
                            padding: 20px;
                            font-size: 7.5vw;
                            background-size: 40vw;
                        }

                    .loginForm {
                        order: 2;
                        width: 100%;
                        height: 50%;
                    }
                }
                
                @media screen and (max-width: 360px) {
                    
                    .theForm {
                        width: 60vw;
                        height: 40vw;
                    }

                    .theForm input[type="text"], .theForm input[type="password"] {
                        width: 45vw;
                        height: 6vw;
                        font-size: 4vw;
                    }
        
                    .theForm input[type="button"] {
                        width: 45vw;
                        height: 6.5vw;
                        font-size: 4vw;
                    }
                    .titleSide {
                        line-height: 0.3;
                        background-size: 34vw, 29vw, 39vw;
                    }
                    
                        .titleSide h1 {
                            font-size: 11.2vw;
                        }
                
                        .titleSide p {
                            padding: 30px;
                            font-size: 6.7vw;
                            background-size: 44vw;
                        }
                }
                
            