body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.receipt {
background-color: white;
align-items: center;
justify-content: center;
height: 80%;
width: 34%;
text-align: center;
box-sizing: border-box;
}

th.head {
	padding: 15px;
	text-align: center;
	font-family: 'Enriqueta', sans-serif;
	font-size: 22px;
	font-weight: bold;
}
td.title {
	padding: 3px;
	text-align: left;
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
td.row1 {
	padding: 1px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: black;
}
td.row2 {
	padding: 0px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: black;
}
td.row3{
	padding: 4px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 100px;
	vertical-align: top;
}
.serial-no {
	padding: 2px;
	text-align: left;
	font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;
	font-size: 15px;
	color: #EE4B2B;
}
.signature{
	margin-top: 20px;
	padding: 0px;
	margin: 0;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: black;
}
.signature p{
	padding: 0px;
	margin: 0;
}
.bottom{
	margin-top: 55px;
	vertical-align: bottom;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-style: italic;
	text-decoration: underline;
	color: black;
}