@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins';
  background-color: #EFF0F4;
  margin: 0;
}

.nav-bar {
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-img {
  padding-left: 2vw;
}

  .logo-bar {
      line-height: 0.1;
      margin-top: 0.4vw;
  }

      .logo-bar p {
          font-size: 1vw;
          font-weight: bold;
      }

      #administrator {
          color: #4B8946;
      }

  .links {
      display: flex;  
      margin-left: auto; 
      cursor: pointer;
  }

      .links p {
          margin-right: 2.5vw;
          color: #4B8946;
      }
      
  .menu-icon {
      cursor: pointer;
      color: #4B8946;
      font-size: 1.5vw;
      margin-right: 3vw;
  }
/*End pf navbar*/

.events-scoresheet-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}

a {
  text-decoration: none;
  color: #ffffff;
  background: skyblue;
  padding: 5px 10px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1pt solid lightgray;
  padding: 15px;
}

td {
  padding: 15px;
}

th {
  text-align: left;
  padding: 5px 15px;
}