body {
    background-color: #052355;
    color: #C1E8FF;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size: 7vw;
    text-align: center;
}

body input{
    padding: 2vw;
    background-color: #000F22;
    color: #ffffff;
    width: 30vw;
    border: none;
    border-radius: 20vw;
    font-size: 5vw;   
    margin: auto;
}

.fi-rr-triangle-warning {
    font-size: 10vw;
    color: yellow;
}

@media screen and (max-width: 768px){
    p {
        font-size: 1vw;
    }

    .fi-rr-triangle-warning {
        font-size: 1vw;
    }
}

@media screen and (max-width: 576px){
    p {
        font-size: 5vw;
    }

    .fi-rr-triangle-warning {
        font-size: 10vw;
    }
}

@media screen and (max-width: 480px){
    p {
        font-size: 7vw;
    }

    .fi-rr-triangle-warning {
        font-size: 14vw;
    }
}

@media screen and (max-width: 360px){
    p {
        font-size: 6vw;
    }

    .fi-rr-triangle-warning {
        font-size: 12vw;
    }
}