* {
    margin: 0;
    padding: 0;
   }
   body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    overflow: hidden;
   }

.maindiv{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
}

.leftdiv{
    height: 100%;
    width: 130%;
    background-image: url('bg-img/background.png');
    float:left;
    background-repeat: no-repeat;
    object-fit: cover;
}


.rightdiv{
    height: 100%;
    width: 100%; 
    float: right;
    background-color: white;
    padding: 30px 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width:13%;
    height: 13vh;
    margin-top: 5%;
    margin-left: 4%;
}

.new{
    font-family: "Montserrat", sans-serif;
    color:white;
    font-size: 64px;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: bold;
}

.sign{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 3vh;
    margin-top: 3%;
    margin-left: 10%;
}

.already{
    font-family: sans-serif;
    color: black;
    font-size: 2.5vh;
    margin-top: 25%;
    text-align: center;
}

.create{
    font-family:'Inter', sans-serif;
    color:midnightblue;
    font-size: 35px;
    text-align:left;
    margin-left:8%;
    margin-bottom: 7%;
}

.input-con {
    display: flex;
    align-items: center;
}

.firstname{
    border: 0px;
    border-bottom: 1px solid black;
    margin-left:8%;
    width: 83%;
    height: 5vh;
    font-size:100%;
    background: transparent;
    text-indent:7%;
    margin-top:1%;
    margin-bottom: 2%;
}

input:focus {
    outline: none;
}

.field-image{
    margin-left:-83%;
    width:3%;
    height:3%;
    margin-bottom: 1%;
}

.password-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    border: 0px;
    border-bottom: 1px solid black;
    width: 83%;
    margin-left: -2%;
    margin-top:1%;
    height: 5vh;
    font-size:100%;
    background: transparent;
    text-indent:7%;
    margin-bottom: 2%;
}

.confirmpass{
    border: 0px;
    border-bottom: 1px solid black;
    margin-left: -2%;
    width: 83%;
    margin-top:1%;
    height: 5vh;
    font-size:100%;
    background: transparent;
    text-indent:7%;
    margin-bottom: 2%;
}

.eye-image{
    margin-left:76%;
    margin-bottom: 1%;
    width:3%;
    height:3%;
}

.eye-image-confirm{
    margin-left:76%;
    margin-bottom: 1%;
    width:3%;
    height:3%;
}

.button-signup{
    height: 7vh;
    width: 84%;
    margin-top:3%;
    margin-left:8%;
    border-radius:2vh;
    border-width: 0px;
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-signup:hover{
    background-color:royalblue;
}

/*media*/
@media only screen and (max-width: 1100px) {
    .field-image, .eye-image, .eye-image-confirm {
        width: 4%;
        height: 4vh;
    }
    .password, .confirmpass {
        margin-left: -1%;
    }
    .already {
        margin-top: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .already{
        margin-top: 45%;
    }
    .button-signup:hover {
        background-color: midnightblue;
        color: white;
    }
}

@media only screen and (max-width: 900px) {
    .new{
        font-size: 60px;
        margin-top: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .new{
        font-size: 50px;
        margin-top: 35%;
    }
    .already {
        margin-top: 50%;
    }
    .field-image, .eye-image, .eye-image-confirm {
        width: 5%;
        height: 5vh;
    }
    .password, .confirmpass {
        margin-left: -1%;
    }
    .eye-image, .eye-image-confirm {
        margin-left: 73%;
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    .maindiv {
        flex-direction: column;
        position: static;
    }
    .leftdiv {
        width: 100%;
    }
    .new {
        margin-top: 20%;
        margin-bottom: 0;
    }
    .already {
        margin-top: 30%;
        margin-bottom: 10%;
    }
    .rightdiv {
        padding: 0;
        padding-bottom: 50px;
        margin-top: 10%;
    }
    .field-image, .eye-image, .eye-image-confirm {
        width: 3%;
        height: 3vh;
    }
    .eye-image, .eye-image-confirm {
        margin-left: 76%;
    }
    .password, .confirmpass {
        margin-left: -2%;
    }
}

@media only screen and (max-width: 550px) {
    .new {
        margin-top: 25%;
    }
    .already {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 360px) {
    .already {
        font-size: 2vh;
    }
    .sign {
        font-size: 2vh;
    }
    .new {
        font-size: 40px;
        margin-top: 20%;
    }
    .logo {
        width:15%;
        height: 15vh;
        margin-top: 0;
        margin-left: 5%;
    }
    .eye-image, .eye-image-confirm {
        width: 5%;
        height: 5vh;
        margin-left: 74%;
    }
    .password, .confirmpass {
        margin-left: -1%;
    }
    .field-image {
        width: 4%;
        height: 4vh;
    }
}