body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #052355;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #000F22;
    transition: right 0.3s ease;
}

    .menu p {
        color: #ffffff;
    }

.admin {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

    .admin img {
        max-width: 8.5vw;
        max-height:  8.5vw;
    }

    .admin h1 {
        color: #C2E8FF;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 29%;
        font-size: 1.7vw;
    }

    .admin p {
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('bg-img/Rectangle-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9.5vw;
        text-align: center;
        font-size: 1.6vw;
        padding: 3vw;
        color: #000F22;
    }

.buttons, .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .buttons input {
        text-align: left;
        padding: 0.3vw;
        width: 15vw;
        background-color: #000F22;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #35659f;
        border-width: 3px;
        color: #ffffff;
        font-size: 1.3vw;
    }

        .buttons input:hover {
            background-color: #f79256;
            color: #000F22;
        }

    .logout input {
        margin-top: 8vw;
        text-align: center;
        padding: 0.5vw;
        width: 15vw;
        background-color: #C2E8FF;
        color: #000F22;
        font-size: 1vw;
        font-weight: bold;
    }

        .logout input:hover {
            background-color: #f79256;
            color: #000F22;
        }

.rightSide h1 {
    text-align: right;
    margin-bottom: 0;
    padding-top: 1.3vw;
    padding-right: 2vw;
    color: #C2E8FF;
    font-weight: 680;
    font-size: 1.7vw;
}

    .rightSide p {
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 2vw;
        color: #C2E8FF;
        font-weight: 680;
        font-size: 1.6vw;
    }

    .icon-white {
        color: white;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-bottom: 0;
    }
    
    .close-button {
        margin-left: 16.7vw;
        margin-bottom: 0;
        font-size: 1.5vw;
    }

    .rightSide #menuIcon {
        margin-top: 1vw;
        margin-bottom: 0;
        margin-left: 1.5vw;
        font-size: 1.5vw;
    }

        .rightSide h1 {
            margin: 0;
        }

/*inner*/

.content {
    padding-bottom: 1vw;
}

.UpcomingAppointments, .UpcomingReservations, .InventoryStock {
    margin: auto;
    margin-bottom: 1vw;
    background-color: rgba(255, 255, 255, 0.837);
    width: 30vw;
    height: 12vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #content-title {
        font-size: 1.8vw;
        font-weight: 600;
        color: #052355;
        margin: 0;
        padding-top: 2vw;
    }

    #content-count,
    #content-count-appointments,
    #content-count-reservations,
    #content-count-inventory {
        font-size: 1.8vw;
        font-weight: 700;
        color: #052355;
        margin: 0;
    }

    .content input {
        margin-top: 1vw;
        text-align: center;
        padding: 0.5vw;
        width: 15vw;
        background-color: #000F22;
        color: #fff;
        font-size: 1.3vw;
        font-weight: bold;
        border: none;
        margin-bottom: 2vw;
    }

        .content input:hover {
            background-color: #f79256;
            color: #000F22;
        }



        

    @media screen and (max-width: 1250px) {
        
    }

    @media screen and (max-width: 1100px) {
        
    }

    @media screen and (max-width: 976px) {
        
    }

    @media screen and (max-width: 895px) {
        
    }

    @media screen and (max-width: 768px) {
        .menu {
            width: 40%;
        }
    
        .admin h1,
        .admin p,
        .buttons input,
        .logout input,
        .rightSide h1,
        .rightSide p {
            font-size: 2.2vw;
        }

        .buttons input, .logout input {
            width: 30vw;
            padding: 0.7vw;
        }

        .admin p {
            background-size: 13vw;
        }

        .logout input {
            margin-top: 17vw;
        }

        .admin {
            margin-bottom: 7vw;
        }

        .admin img {
            max-width: 14vw;
            max-height: 14vw;
        }

        .close-button {
            margin-left: 35vw;
            margin-top: 1vw;
            font-size: 2.5vw;
        }

        .rightSide #menuIcon {
            margin-left: 1.8vw;
            margin-top: 1.8vw;
            font-size: 2.5vw;
        }

        .rightSide h1 {
            padding-right: 4vw;
            font-size: 3vw;
        }
        
            .rightSide p {
                padding-right: 4vw;
                font-size: 3.1vw;
            }

        .UpcomingAppointments, .UpcomingReservations, .InventoryStock {
            margin-top: 1.5vw;
            width: 55vw;
            height: 20vw;
            border-radius: 2vw;
        }

            #content-title,
            #content-count-appointments,
            #content-count-reservations,
            #content-count-inventory {
                font-size: 2.8vw;
            }

            .content input {
                margin-top: 1.5vw;
                padding: 1vw;
                width: 25vw;
                font-size: 2vw;
                margin-bottom: 2vw;
            }
    }
    
    @media screen and (max-width: 657px) {

    }

    @media screen and (max-width: 576px) {
        .menu {
            width: 45%;
        }
    
        .admin h1,
        .admin p,
        .buttons input,
        .logout input,
        .rightSide h1,
        .rightSide p {
            font-size: 2.8vw;
        }

        .buttons input, .logout input {
            width: 30vw;
            padding: 1vw;
        }

        .admin p {
            background-size: 15vw;
        }

        .logout input {
            margin-top: 18vw;
        }

        .admin {
            margin-bottom: 9vw;
        }

        .admin img {
            max-width: 20vw;
            max-height: 20vw;
        }
        
        .close-button {
            margin-left: 39vw;
            margin-top: 1vw;
            font-size: 3.5vw;
        }

        .rightSide #menuIcon {
            margin-left: 1.8vw;
            margin-top: 1.8vw;
            font-size: 3.5vw;
        }

        .rightSide h1 {
            padding-right: 5vw;
            font-size: 3.5vw;
        }
        
            .rightSide p {
                padding-right: 5vw;
                font-size: 3.6vw;
            }

        .UpcomingAppointments, .UpcomingReservations, .InventoryStock {
            margin-top: 1.9vw;
            width: 65vw;
            height: 27vw;
            border-radius: 2vw;
        }

            #content-title, 
            #content-count,
            #content-count-appointments,
            #content-count-reservations,
            #content-count-inventory {
                font-size: 4vw;
            }

            .content input {
                margin-top: 1.5vw;
                padding: 1vw;
                width: 30vw;
                font-size: 2.7vw;
                margin-bottom: 2vw;
            }
    }
    
    @media screen and (max-width: 480px) {
        .menu {
            width: 55%;
        }
    
        .admin h1,
        .admin p,
        .buttons input,
        .logout input,
        .rightSide h1,
        .rightSide p {
            font-size: 4.5vw;
        }

        .buttons input, .logout input {
            width: 40vw;
            padding: 1vw;
        }

        .admin p {
            background-size: 20vw;
        }

        .logout input {
            margin-top: 18vw;
        }

        .admin {
            margin-bottom: 17vw;
        }

        .admin img {
            max-width: 20vw;
            max-height: 20vw;
        }
        
        .close-button {
            margin-left: 48vw;
            margin-top: 1vw;
            font-size: 4.5vw;
        }

        .rightSide #menuIcon {
            margin-left: 1.8vw;
            margin-top: 1.8vw;
            font-size: 4.5vw;
        }

        .rightSide h1 {
            padding-right: 5vw;
            font-size: 4vw;
        }
        
            .rightSide p {
                padding-right: 5vw;
                font-size: 4.1vw;
            }

        .UpcomingAppointments, .UpcomingReservations, .InventoryStock {
            margin-top: 2.3vw;
            width: 80vw;
            height: 30vw;
            border-radius: 2vw;
        }

            #content-title, 
            #content-count,
            #content-count-appointments,
            #content-count-reservations,
            #content-count-inventory {
                font-size: 5.2vw;
            }

            .content input {
                margin-top: 2.5vw;
                padding: 1.2vw;
                width: 35vw;
                font-size: 3.2vw;
                margin-bottom: 2vw;
            }
    }
    
    @media screen and (max-width: 360px) {
        .menu {
            width: 65%;
        }
    
        .admin h1,
        .admin p,
        .buttons input,
        .logout input,
        .rightSide h1,
        .rightSide p {
            font-size: 5.5vw;
        }

        .buttons input, .logout input {
            width: 45vw;
            padding: 1vw;
        }

        .admin p {
            background-size: 25vw;
        }

        .logout input {
            margin-top: 22vw;
        }

        .admin {
            margin-bottom: 20vw;
        }

        .admin img {
            max-width: 27vw;
            max-height: 27vw;
        }
        
        .close-button {
            margin-left: 57vw;
            margin-top: 1vw;
            font-size: 5.5vw;
        }

        .rightSide #menuIcon {
            margin-left: 2vw;
            margin-top: 2vw;
            font-size: 5.5vw;
        }

        .UpcomingAppointments, .UpcomingReservations, .InventoryStock {
            margin-top: 2.7vw;
            width: 85vw;
            height: 40vw;
            border-radius: 2.5vw;
        }

            #content-title, 
            #content-count,
            #content-count-appointments,
            #content-count-reservations,
            #content-count-inventory {
                font-size: 5.5vw;
            }

            .content input {
                margin-top: 4vw;
                padding: 2vw;
                width: 45vw;
                font-size: 4vw;
                margin-bottom: 2vw;
            }
    }
    