body {
    font-family: 'Poppins';
    background-color: #EFF0F4;
    margin: 0;
    height: 100vh;
}

.nav-bar {
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-img {
    padding-left: 2vw;
}

.logo-bar {
    line-height: 0.1;
    margin-top: 0.4vw;
}

.logo-bar p {
    font-size: 1vw;
    font-weight: bold;
}

#administrator {
    color: #4B8946;
}

.links {
    display: flex;
    margin-left: auto;
}

.links p {
    cursor: pointer;
    margin-right: 2.5vw;
    color: #4B8946;
}

.plus-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #B1F0AB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.plus-icon i {
    color: #4B8946;
    font-size: 1.5vw;
}

.menu-icon {
    color: #4B8946;
    font-size: 1.5vw;
    margin-right: 3vw;
}

.div-table {
    width: 100%;
    margin: 10% 0;
}

.filter-dropdown {
    margin: 0 55%;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

thead {
    background-color: #f2f2f2;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    table {
        display: block;
    }

    thead {
        display: none;
    }

    tbody tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid #f2f2f2;
    }

    tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        position: relative;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 10px;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 10px;
    }
}