body {
    font-family: 'Poppins';
    background-color: #EFF0F4;
    margin: 0;
    height: 100vh;
}

.user-name {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #2B2B2B;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.administrator {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 11px;
    color: #2B2B2B;
    background-color: #D9F17F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #a3a3a3;
    cursor: pointer;
}

.navbarbie {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #2B2B2B;
    cursor: pointer;
}

.logo-img {
    padding-left: 2vw;
    max-width: 40px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-img {
    max-width: 43px;
    vertical-align: middle;
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px rgba(10,0,0,0.3);
    border-radius: 100%;
}

.nav-link {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
}

.nav-link-1 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
    margin-right: 40px;
}

.navbar:hover {
    color: #2B2B2B;
}

/* drop down navbar*/

.dropdown .dropbtn {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a3a3a3;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background-color: #f4f4f4;
    align-items: center;
    cursor: pointer;
}

.dropdown-content,
.account-dropdown {
    background-color: #f4f4f4;
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
}

.account-dropdown {
    min-width: 90px;
}

.dc-text, #logout{
    font-family: Inter, sans-serif;
    font-weight: 800;
    float: none;
    color: #2B2B2B;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: none;
    margin-top: none;
}

.dc-text:hover, #logout:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.acc-hover:hover .account-dropdown {
    display: block;
}

/* end of drop down navbar*/

.div-table {
    width: 100%;
    margin: 10% 0;
}

.div-table {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.export-button {
    text-align: right;
    margin-top: 15px;
}

.export-button button {
    font-family: Inter, sans-serif;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FCCE42;;
    color: #2B2B2B;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.export-button button:hover {
    background-color: #d3a51b;
    transform: translateY(-2px);
}

.filter-dropdown {
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.filter-dropdown label {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: #2B2B2B;
}

.filter-dropdown select {
    font-family: Inter, sans-serif;
    padding: 8px 15px;
    font-size: 0.95rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease;
    margin-left: 10px;
}

table {
    font-family: Poppins, sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    background-color: #fff;
}

thead {
    background-color: #d8f17fa2;
    color: #2B2B2B;
    font-weight: 700;
    text-align: left;
}

thead td {
    padding: 12px;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #555;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

#prevBtn, #nextBtn {
    font-family: Inter, sans-serif;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #FCCE42;;
    color: #2B2B2B;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #d3a51b;
    transform: translateY(-2px);
}

#prevBtn:disabled, #nextBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#pageInfo {
    font-size: 1rem;
    font-weight: 600;
    color: #2B2B2B;
    margin: 0 15px;
}

/* alert */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  margin-top: 5%;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}