body {
    font-family: 'Poppins';
    background-color: #EFF0F4;
    margin: 0;
}

.user-name {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #2B2B2B;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.administrator {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 11px;
    color: #2B2B2B;
    background-color: #D9F17F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #a3a3a3;
    cursor: pointer;
}

.navbarbie {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #2B2B2B;
    cursor: pointer;
}

.logo-img {
    padding-left: 2vw;
    max-width: 40px;
    vertical-align: middle;
    margin-right: 15px;
}

.icon-img {
    max-width: 43px;
    vertical-align: middle;
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px rgba(10,0,0,0.3);
    border-radius: 100%;
}

.nav-link {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
}

.nav-link-1 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
    margin-right: 40px;
}

.navbar:hover {
    color: #2B2B2B;
}

/* drop down navbar*/

.dropdown .dropbtn {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a3a3a3;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background-color: #f4f4f4;
    align-items: center;
    cursor: pointer;
}

.dropdown-content,
.account-dropdown {
    background-color: #f4f4f4;
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
}

.account-dropdown {
    min-width: 90px;
}

.dc-text, #logout{
    font-family: Inter, sans-serif;
    font-weight: 800;
    float: none;
    color: #2B2B2B;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: none;
    margin-top: none;
}

.dc-text:hover, #logout:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.acc-hover:hover .account-dropdown {
    display: block;
}

/* end of drop down navbar*/

.new-account {
        margin: auto;
        margin-top: 4vw;
        background-color: #ffffff;
        border-radius: 1vw;
        display: flex;
        align-items: center;
        width: 88%;
        line-height: 0.1vw;
        padding: 1vw;
        margin-bottom: 1.3vw;
        box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
        cursor: pointer;
    }

    #create {
        font-size: 1vw;
        font-weight: bold;
    }

    #add {
        font-size: 0.9vw;
    }

.plus-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #D9F17F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
        
.plus-icon i {
    color: #2B2B2B;
    font-size: 1.5vw;
}


.accounts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 35px;
}

#accs {
    margin-left: 5vw;
    font-weight: 700;
    color: #2B2B2B;
    font-size: 1.3vw;
}

.dropdowns {
    display: flex;
}

.dropdowns select {
    font-family: Poppins, sans-serif;
    width: 15vw;
    background-color: #ffffff;
    color: #4f4f4f;
    font-weight: 600;
    font-size: 15px;
    padding: 0.7vw;
    padding-left: 10px;
    margin-left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #bdbdbd;
    border-radius: 5px;
}

.account {
    display: flex;
    background-color: #f9f9f9;
    width: 88%;
    align-items: center;
    margin: auto;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3vw;
}

.left-deets {
    display: flex;
}

.acc-img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #D9F17F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.acc-img i {
    font-size: 1.5vw;
    color: #2B2B2B;
}

.acc-deets {
    line-height: 0.1vw;
}

#name {
    font-weight: 600;
}

.acc-buttons {
    display: flex;
}
        
.edit-icon {
    margin-left: 0.5vw;
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: none;
}

.trash-icon {
    margin-left: 0.5vw;
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
}

.acc-buttons i {
    font-size: 1.3vw;
    color: #b9b9b9;
}


.trash-icon:focus, .edit-icon:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(78, 78, 78, 0.5);
}

.iframe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: none;
}
                
#popupFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    display: none;
}

.popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.edit-icon {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 2vw auto;
}

.pagination a {
    display: inline-block;
    margin: 0 0.5vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    color: #2B2B2B;
    border: 1px solid #c2c2c2;
    border-radius: 0.5vw;
    text-decoration: none;
    text-align: center;
}

.pagination a.arrow{
    font-weight: 300;
    border: 1px solid #c2c2c2;
    color: #6c6c6c;
}

.pagination a.active {
    background-color: #FCCE42;
    font-weight: 700;
    border: none;
}

.pagination a.disabled {
    font-weight: 300;
    border: 1px solid #d9d9d9;
    color: #d2d2d2;
    pointer-events: none;
}

.pagination a:hover:not(.disabled) {
    background-color: #FCCE42;
    transition: background-color 0.3s ease;
    color: #2B2B2B;
}

.pagination a.arrow {
    font-size: 1.2vw;
    font-weight: 600;
}

.no-results {
    text-align: center;
    margin-top: 50px;
    color: #8f8f8f;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.no-results i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #cccccc;
}

#searchBox {
    width: 60%;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

#searchBox::placeholder {
    color: #aaa;
}

.name-export-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-button {
    margin-right: 5vw;
}

.export-button button {
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 12px !important;
    padding: 10px;
    background-color: #FCCE42;
    border: none;
    border-radius: 8px;
    color: #2B2B2B; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    text-align: center;
}

.export-button button:hover {
    background-color: #ddba51;
}

.export-button button:active {
    background-color: #ddba51;
}

.export-button button + .export-button button {
    border-left: 1px solid rgba(255, 255, 255, 0.2); 
}

/* alert */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}