body {
    font-family: Inter, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    max-width: 62vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.title p {
    font-family: Inter, sans-serif;
    text-align: center;
    color: #2B2B2B;
    font-weight: 800;
    font-size: 26px;
}

.edit-form {
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
    gap: 20px;
}

.edit-form label{
    font-family: Inter, sans-serif;
    color: #2B2B2B;
    font-size: 12px;
}

.add-form {
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
    gap: 20px;
}

.add-form label{
    font-family: Inter, sans-serif;
    color: #2B2B2B;
    font-size: 12px;
}

.add-left, .add-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    flex-direction: column;
}

.labels label {
    font-weight: bold;
    margin-bottom: 0.5vh;
    font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-family: Inter, sans-serif;
    border: 1px solid #ccc;
    height: 3.5vh;
    margin-bottom: 2vh;
    width: 90%;
    border-radius: 4px;
    padding: 0.5vw;
    font-size: 14px;
    box-shadow: none;
}

#sort {
    font-family: Inter, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 6vh;
    width: 94%;
    padding: 0.5vw;
}

#sort option {
    font-family: Inter, sans-serif;
    background-color: #fff;
    color: #2b2b2b;
}

.button-group {
    display: flex;
    gap: 1vw;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

#cancelBtn {
    font-family: Inter, sans-serif;
    background-color: #EBEBEB;
    color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    height: 2.3vw;
    width: 8vw;
    cursor: pointer;
}

#cancelBtn:hover {
    background-color: #e0e0e0;
}

#saveBtn {
    font-family: Inter, sans-serif;
    background-color: #D9F17F;
    color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bold;
    height: 2.3vw;
    width: 8vw;
    cursor: pointer;
}

#saveBtn:hover {
    background-color: #adc45d;
}

.password-container {
    display: flex;
    align-items: center;
}

.eye-icon i {
    margin-left: -30px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -11px;
    color: #2b2b2b;
}

.permissions {
    margin-left: 1.5vw;
    color: #2D4D2A;
    margin-top: 1.5vw;
}

.permTitle,
.permission-container {
    margin-left: 1.5vw;
}

.permission {
    border-bottom: 1px solid lightgrey;
}

.home, .home_view {
    margin: 10px 0;
}

.moduleName, 
.moduleFunc {
    margin: 10px 0;
}

.moduleFunc {
    border: 1px solid #7FD278;
    text-align: center;
    transition: 0.5s;
}

.permissionActive {
    background-color: #D9F17F;
    border: 1px solid transparent;
    transition: 0.5s;
}
