body {
    font-family: 'Poppins';
    background-color: #EFF0F4;
    margin: 0;
  }
  
  body {
    background-color: #EFF0F4;
    font-family: Inter, sans-serif;
    margin: 0;
  }
  
  .user-name {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #2B2B2B;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }
  
  .administrator {
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 11px;
    color: #2B2B2B;
    background-color: #D9F17F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navbar {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #a3a3a3;
    cursor: pointer;
  }
  
  .navbarbie {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #2B2B2B;
    cursor: pointer;
  }
  
  .logo-img {
    padding-left: 2vw;
    max-width: 40px;
    vertical-align: middle;
    margin-right: 15px;
  }
  
  .icon-img {
    max-width: 43px;
    vertical-align: middle;
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px rgba(10,0,0,0.3);
    border-radius: 100%;
  }
  
  .nav-link {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
  }
  
  .nav-link-1 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    justify-content: flex-start;
    gap: 40px; 
    color: #333;
    margin-right: 40px;
  }
  
  .navbar:hover {
    color: #2B2B2B;
  }
  
  /* drop down navbar*/
  
  .dropdown .dropbtn {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a3a3a3;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background-color: #f4f4f4;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdown-content,
  .account-dropdown {
    background-color: #f4f4f4;
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
  }
  
  .account-dropdown {
    min-width: 90px;
  }
  
  .dc-text, #logout {
    font-family: Inter, sans-serif;
    font-weight: 800;
    float: none;
    color: #2B2B2B;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: none;
    margin-top: none;
  }
  
  .dc-text:hover, #logout:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content,
  .acc-hover:hover .account-dropdown {
    display: block;
  }
  
  /* end of drop down navbar*/


.new-account {
    font-family: Montserrat, sans-serif;
    margin: auto;
    margin-top: 4vw;
    background-color: #ffffff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    width: 88%;
    line-height: 0.1vw;
    padding: 1vw;
    margin-bottom: 1.3vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    cursor: pointer;
    margin-bottom: none;
  }

#create {
    font-family: Poppins, sans-serif;
    font-size: 1vw;
    font-weight: bold;
}

#add {
    font-family: Poppins, sans-serif;
    font-size: 0.9vw;
}

.plus-icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #D9F17F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
  
.plus-icon i {
  color: #2B2B2B;
  font-size: 1.5vw;
}

.accounts {
    margin-left: 2.3%;
    margin-right: 2.3%;
    height: auto;
    border-radius: 10px;
}

.accounts-title,
.teams-title,
.events-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3vw; /*gi adjust ra nako ang posisyon*/
    margin-right: 3vw;
}

#event,
#team,
#event {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #2B2B2B;
    font-size: 1.3vw;
}

#vwall {
    color: #557752;
}

.account,
.tim,
.ebent {
    display: flex;
    background-color: #f9f9f9;
    width: 91%;
    align-items: center;
    margin: auto;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3vw;
}

.account-header {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    display: flex;
    background-color: #d8f17fa2;
    width: 91%;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1vw;
    box-shadow: 0px 0px 5px 0px rgba(88, 88, 88, 0.222);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3vw;
    color: #2B2B2B;
}

.account {
    cursor: pointer;
}

.sub-account {
    display: flex;
    background-color: #ffffff;
    width: 84%;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.sub-account2 {
    display: flex;
    background-color: #ffffff;
    width: 84%;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-accounts {
    display: flex;
    background-color: #ffffff;
    width: 87%;
    align-items: center;
    margin: auto;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(48, 48, 48, 0.222);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3vw;
    margin-top: 15px;
}

.left-deets, .right-deets {
    cursor: pointer;
    display: flex;
}

.acc-img,
.tim-img,
.ebent-img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #B1F0AB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.acc-img i,
.tim-img i,
.ebent-img i {
    font-size: 1.5vw;
    color: #2D4D2A;
}

.acc-deets {
    line-height: 0.1vw;
    width: 55vw;
    color: white;
}

.acc-deetss {
    line-height: 0.1vw;
    width: 55vw;
    color: #2D4D2A;
}

.tim-deets,
.event-deets {
    line-height: 0.1vw;
    margin: auto;
}

#name {
    font-weight: 700;
    display: flex;
}

.acc-ellips {
    margin-right: 1vw;
}

.acc-ellips i {
    color: #2D4D2A;
}


.iframe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.082);
    z-index: 9999;
    display: none;
}

#popupFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: none;
}

.acc-buttons {
    display: flex;
    font-size: 1.3vw;
    color: #b9b9b9;
}

.edit-icon {
    margin-left: 0.5vw;
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: none;
}

.trash-icon {
    margin-left: 0.5vw;
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    border: none;
}

.subtrash-icon {
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
}

.subedit-icon {
    margin-left: 1vw;
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
}

.edit-icon:focus, .trash-icon:focus, .subtrash-icon:focus, .subedit-icon:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(78, 78, 78, 0.5);
}

/*BUTTONS*/

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 1.3vw;
    height: 3vw;
}

#saveBtn {
    font-family: Inter, sans-serif;
    background-color: #D9F17F;
    color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bold;
    height: 2.3vw;
    width: 8vw;
    cursor: pointer;
}

#saveBtn:hover {
    opacity: 0.8;
}

#cancelBtn {
    background-color: #bebebe;
    color: #000;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#cancelBtn:hover {
    opacity: 0.8;
}

.contestant,
.judge,
.faci,
.criteria1,
.tally,
.scoring {
    border: none;
    font-size: 18px;
    padding: 12px;
    color: #fff;
    background-color: #367a39;
    border: 2px solid #2D4D2A;
    border-radius: 10px;
}

.contestant:hover,
.judge:hover,
.faci:hover,
.criteria1:hover,
.tally:hover,
.scoring:hover {
    background-color: #7FD278;
}



.container,
.container1 {
    width: 85%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 1vw;
    border-left: 3px solid #D9F17F;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    color: #2B2B2B;
}

td {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

td button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.addcri-btn, .addjudge-btn, .addcon-btn, .addfaci-btn, .addscore-btn {
    background-color: #7FD278;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.addcri-btn:hover, .addjudge-btn:hover, .addcon-btn:hover, .addfaci-btn:hover, .addscore-btn:hover {
    background-color: #6fc062;
}

.action-btn {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.action-btn:hover {
    background-color: #c1f0c4;
}

.export-button button{
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 12px !important;
    padding: 10px 25px;
    background-color: #FCCE42;
    border: none;
    border-radius: 10px;
    color: #2B2B2B; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    text-align: center;
    margin-left: 10px;
}

.export-button button:hover {
    background-color: #ddba51;
}

/*Table in tally*/
#tallyTable table {
    border-collapse: collapse;
}

#tallyTable th,
#tallyTable td {
    text-align: center;
    padding: 12px;
}

#tallyTable th {
    background-color: #d8f17fa2;
    color: #2B2B2B;
}

#tallyTable td button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.script-content {
    text-align: left;
}

.script-content ul {
    list-style-type: none;
    padding-left: 0;
}

.script-content ul li {
    margin-bottom: 5px;
}


#tallyTable .teams1 {
    border: none;
}



thead tr {
    background-color: #d8f17fa2;
    color: #2B2B2B;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #D9F17F;
}

.main-btn {
    background-color: #D9F17F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.main-btn:hover {
    background-color: #45a049;
}

#radioDramaSubEvent {
    display: none;
}

#radioDramaTable {
    display: none;
}

.criteria {
    text-align: left;
}

.criteria li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}



/*Modal*/
/* Modal */
.modal {
    font-family: Inter, sans-serif;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

.modal-contentt {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 40%;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Modal Body */
.modal-body {
    margin-bottom: 20px;
}

/* Form Styles */
.form-section {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}


select {
    font-family: Inter, sans-serif;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    height: 6vh;
}

input[type="text"] {
    font-family: Inter, sans-serif;
    width: 96%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    height: 3.5vh;
}

.form-group input[type="text"], input[type="number"] {
    font-family: Inter, sans-serif;
    width: 96%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    height: 3.5vh;
}

/* Footer Styles */
.modal-footer {
    text-align: left;
    margin-top: 30px;
}

/* Assuming the parent class is .modal-footer */
.cancel-btn, #cancelBtn {
    font-family: Inter, sans-serif;
    background-color: #EBEBEB;
    color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    height: 2.3vw;
    width: 8vw;
    cursor: pointer;
    margin-right: 15px;
}

.save-btn, .save-btn-event, .save-btn-editev, .save-btn-contestant, .save-btn-comt, .save-btn-judge, .save-btn-scr{
    font-family: Inter, sans-serif;
    background-color: #D9F17F;
    color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: bold;
    height: 2.3vw;
    width: 8vw;
    cursor: pointer;
}

#saveBtn:hover, .save-btn:hover, .save-btn-event:hover, .save-btn-editev:hover, .save-btn-contestant:hover, 
.save-btn-comt:hover, .save-btn-judge:hover, .cancel-btn:hover, #cancelBtn:hover, .save-btn-scr:hover {
    opacity: 0.8;
}

/*modal for editicon*/
/* Modal */
.modal {
    display: none; /* Hide modal by default */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.modal-contentt {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 50%;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-field {
    margin-bottom: 10px;
    width: 96%;

}

.departments {
    display: flex;
}

.column {
    flex: 0.5;
}

.departments label {
    margin-left: 40px; 
    position:relative;
    top: -6%;
}

.departments input[type="checkbox"]{
    margin-right: 0; 
    transform: scale(1.5); 
}

.departments .column label:last-child {
    margin-right: 0;
}


.fas.fa-plus {
    color: #2B2B2B;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 10px;
    
}

.addevent, .editteam{
    font-weight: 800;
    font-size: 26px;
    color: #2B2B2B;
    text-align: center;
}

.button-group {
    margin-left: 3%;
    margin-right: 3%;
    width: 93%;
    margin-bottom: 30px;
    display: flex; 
    background-color: #FFFFFF;
    border-radius: 30px; 
    overflow: hidden; 
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

.group-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px !important;
    flex: 1;
    padding: 12px 0;
    background: none; 
    border: none; 
    color: #2B2B2B; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.group-btn i {
    margin-right: 8px; 
}

.group-btn:hover {
    background-color: #a7a7a757;
}

.group-btn:active {
    background-color: #a7a7a757;
}

.group-btn + .group-btn {
    border-left: 1px solid rgb(217, 217, 217); 
}

/* add criteria modal */
#criteria,#editcriteria {
    resize: none;
    width: 98%;
    border: solid #a8a8a8 1px;
    border-radius: 5px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

#criPts {
    resize: none;
    height: 30px;
    border: solid #a8a8a8 1px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.form-group label {
    font-family: Inter, sans-serif;
    color: #2B2B2B;
    font-size: 13px;
}

.details {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.modal-content, .modal-body, .form-section, .form-group, .modal-footer, .addevent, label, input, select, button {
    font-family: Inter, sans-serif;
}

/* alert */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    margin-top: 5%;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}