@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins';
  margin: 0;
}



.header-container {
    text-align: center;
    margin-top: 10px;
}
    .header-container b {
        font-family: Old English Text MT;
        font-size: 25px;
    }



.tally-container {
    margin: 10px 10%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tally-container table {
    border-collapse: collapse;
    width: 100%;
}

.tally-container table #headCol {
    font-weight: bold;
}


.tally-container table #tabletr td, #tabletr th {
    padding: 20px;
    border-bottom: 1px solid #00000062;
}



.facilitators-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 10%;
    text-align: center;
}

.col {
    margin-right: 2.5%;
}