body {
    font-family: 'Poppins';
    background-color: #EFF0F4;
    margin: 0;
    height: 100vh;
}

.nav-bar {
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-img {
    padding-left: 2vw;
}

    .logo-bar {
        line-height: 0.1;
        margin-top: 0.4vw;
    }

        .logo-bar p {
            font-size: 1vw;
            font-weight: bold;
        }

        #administrator {
            color: #4B8946;
        }

    .links {
        display: flex;  
        margin-left: auto; 
    }

        .links p {
            margin-right: 2.5vw;
            color: #4B8946;
        }

        .plus-icon {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background-color: #B1F0AB;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }
        
        .plus-icon i {
            color: #4B8946;
            font-size: 1.5vw;
        }
        
    .menu-icon {
        color: #4B8946;
        font-size: 1.5vw;
        margin-right: 3vw;
    }


/*End of Navbar*/

.eventsDropdown{
    display: flex;
    margin-top: 50px;
    padding: 50px;
    height: auto;
    color: black;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.eventsDropdown h4{
    font-size: 20px;
}
.dropdownEvents{
    height: 45px;
    width: 250px;
    margin-left: 20px;
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
    color: #4B8946;
}
.TeamsVersus{
    display: flex;
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: center;
}
.TeamingContainer{
    height: auto;
    display: block;
}
.TeamingContainer h2{
    margin-left: 4.5vw;
}
.Team1{
    height: 45px;
    width: 350px;
    margin-left: 20px;
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
    color: #4B8946;
}
.Team2{
    height: 45px;
    width: 350px;
    margin-left: 20px;
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
    color: #4B8946;
}
.Team1Cont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.Team2Cont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.buttonGo{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 4.5vw;
    padding: 30px;
}
.GoButton{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #4B8946;
    border: none;
    font-size: 15px;
    color: white;
    margin: 10px;
}
.GoButton:hover{
    color: #4B8946;
    background-color: white;
    border: 1px solid;
    transition: ease-in 0.2s;
}

/* //Sports */

.Scoreform{
    text-align: center;
    padding: 100px;
}
.Teams{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.Team1a2{
    padding-left: 70px;
    padding-right: 70px;
    border: 2px solid black;
    margin: 30px;
}
.SButton{
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
.addSbutton{
    display: grid;
}
.SButton:hover{
    background-color: #4B8946;
    transition: ease-in 0.2s;
}
.teamSelected{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Team1a2Scores{
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid black;
    margin: 30px;
    font-size: 25px;
}
.quarter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.GameQuarter h4{
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    margin: 15px;
    font-size: 25px;
}
.team{
    display: flex;
}

.buttonGo{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.GoButton{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #4B8946;
    border: none;
    font-size: 15px;
    color: white;
    margin: 10px;
}
.GoButton:hover{
    color: #4B8946;
    background-color: white;
    border: 1px solid;
    transition: ease-in 0.2s;
}

.link-container {
    margin: 10px 10%;
    background-color: #4B8946;
    display: flex;
    align-items: center;
}

.link-container a {
    padding: 20px;
    text-decoration: none;
    color: white;
    border: #EFF0F4;
    border-right: 1px solid #EFF0F4;
}

.link-container a:hover {
    background: #B1F0AB;
}

#scoreForm {
    font-size: 25px;
    margin: 10px 10%;
    background-color: #B1F0AB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.tally-container {
    margin: 10px 10%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tally-container table {
    border-collapse: collapse;
    width: 100%;
}

.tally-container table #headCol {
    background-color: #B1F0AB;
}


.tally-container table #tabletr td, #tabletr th {
    padding: 20px;
    border: 1px solid #00000062;
}

.scoreinput {
    border: 1px solid #ddd;
    height: 30px;
}

.submit-btn {
    text-align: right;
    margin-top: 3%;
}
.submit-btn button {
    border: 1px solid #4B8946;
    background-color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}

.submit-btn button:hover {
    background-color: #4B8946;
    color: white;
}

#backbtn-faci {
    text-align: left; 
    margin-left: 10%;
    border: none;
    background: transparent;
    color: #AEAEAE;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}

#backbtn-faci:hover {
    text-decoration: underline;
}


.scoring-container {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div .msg {
    text-align: center;
    margin: 0 35%;
}

.msg .msg-content {
    background-color: maroon;
    padding: 5px 0;
    border-radius: 10px;
    color: white;
    font-weight: 200;
}